<section>
  <mat-card>
    <mat-card-content>
      <span>Offer the user three options:</span>
      <br/>
      <span>1. enter in an existing token</span>
      <br/>
      <span>2. generate a new token</span>
      <br/>
      <span>3. (if available) load a cached token</span>
    </mat-card-content>
    <mat-card-actions>

      <button (click)="enterToken()"
              mat-button>
        <span>ENTER</span>
      </button>

      <button (click)="newToken()"
              mat-button>
        <span>NEW</span>
      </button>

      <button *ngIf="hasCachedToken"
              (click)="useCached()"
              color="primary"
              mat-button>
        <span>USE CACHED</span>
      </button>

    </mat-card-actions>
  </mat-card>
</section>
